<!-- filename: b2t1.liquid -->      
<div class="container">
        <div class="row">
          	<div class="b2t1box">
<p><b>BUY 2, TAKE 1!</b><br/>
Buy 2 Skin Care, get 1 Makeup / Hair & Body Care / Defense Care product FREE! <br/>
Add all 3 products to bag, check out with code: BETTERSKIN.</p>

<p>*not applicable to Skin Care below ₱300<br/>
*not applicable to Sets & Bundles<br/>
*not valid with Free Gifts promotion</p>
          	</div>
      	</div>
      </div>