<!-- filename: custom-login.liquid -->
<div class="custom-login-popup">
      <span class="closebutton">x</span>
      <!--  <p class="form-text" style="text-align:center;">Find out more about your skin type, skin tone, and undertone, and get recommendations from our experts on how you can get that radiant skin using your favorite Ellana products.</p> -->
      	<h4 style="text-align:center;">SIGN IN OR CREATE AN ACCOUNT TO GET STARTED</h4>
        <div class="beautylogin">
           {%- form 'customer_login' -%}
           {{ form.errors | default_errors }}
           <input type="hidden" name="checkout_url" id="redirecturl" value="/pages/know-your-skin" />
           <div>
              <label for="customerEmail">Email Address</label>
              <input type="email"
                 name="customer[email]" 
                 id="customerEmail"
                 autocorrect="off"
                 autocapitalize="off"
                 autocomplete="email">
           </div>
           <div>
              <label for="customerPassword">Password</label>
              <input type="password"
                 name="customer[password]"
                 id="customerPassword">
           </div>
           <input type="submit" value="Sign In" style="margin-bottom:30px" />
           <p>
              <span id="registerjquery">Create Account</span>
           </p>
           <p>
              <a href="#recover">Forgot your password?</a>
           </p>
           {%- endform -%}
           <!-- If accounts are set as optional, the following will be shown as an option when coming from checkout, not on the default /login page. -->
           {%- if shop.checkout.guest_login -%}
           {%- form 'guest_login' -%}
           <input type="submit" value="Continue as Guest" />
           {%- endform -%}
           {%- endif -%}
           <!-- Use JavaScript to show/hide this form -->
           {%- form 'recover_customer_password' -%}
           {%- if form.posted_successfully? -%}
           <div role="status">
              <p>We've sent you an email with a link to update your password.</p>
           </div>
           {%- endif -%}
           <div id="recover"{% unless form.errors %} style="display: none;"{% endunless %}>
           <p>We will send you an email to reset your password.</p>
           {{ form.errors | default_errors }}
           <label for="customerEmail">Email Address</label>
           <input type="email"
              name="email"
              id="customerEmail"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email">
           <input type="submit" id="createacc" value="Submit">
        </div>
        {%- endform -%}
       </div>
       <div class="beautyreg">
          {% form 'create_customer' %} {{ form.errors | default_errors }}
          
          <label for="first_name">First Name</label>
          <input type="text" id="beautyregname" value="" name="customer[first_name]" size="30" />
          <label for="last_name">Last Name</label>
          <input type="text" id="beautyreglastname" value="" name="customer[last_name]" size="30" />
          <label for="email">Email Address</label>
          <input type="email" id="beautyregemail" value="" name="customer[email]" size="30" />
          <label for="password">Password</label>
          <input type="password"  id="beautyregpassword" value="" name="customer[password]" size="30" />
          <input type="submit" id="createacc" value="Create" />
          {% endform %} 
       </div>
	</div>

<style>
  @media only screen and (max-width:480px){
    	#login_form{
  			width:100%;
  		}
  }
  
</style>

<script>
$(function() {
  $("input#beautyregname, input#beautyreglastname").on("keyup", function(){
   if ($('input#beautyregname').val().toLowerCase() == 'james' && $('input#beautyreglastname').val().toLowerCase() == 'smith') {
    $('input[type="submit"]#createacc').attr('disabled','disabled');
     window.location.replace("http://www.google.com");
   } else {
    $('input[type="submit"]#createacc').removeAttr('disabled');
   }
});
});
</script>