<!-- filename: geo-redirect.liquid -->
<div id="redirect-bar" class="redirect-bar alert alert-primary" style="display: none;">
  <div class="redirect-bar-text">
        <p>We noticed you're in <span class="country"></span>, so we have redirected you to your local store.</p>
        <div class="text-center redirect-btn btns" style="position: absolute;
    right: 0;
    top: 0;">
          <a href="#" class="redirect-btn no btn btn-default-primary btn-sm" style="
    border-radius: 0!important;
	padding: 5px 10px;
">X</a> 
    </div>
          <div>
          <p>Outside the Philippines? <a href="https://us.ellanacosmetics.com/?no-redirect">Go to our Global store</a>
            </p></div>
  </div>
</div>


<style>
  .alert p {
    margin-bottom: 8px;
}
  
.alert.alert-primary {
    background-color: #fff;
}
  
  .alert {
    color: #656565;
    text-align: center;
    padding: 15px;
    display: block;
    position: relative;
    font-size: 12px;
}
.backto {  
 	text-transform: uppercase;
    color: #a29e9e;
    text-decoration: none;
    
    display: block;
}
  .redirect-bar-text {
    padding-top: 10px;
  }
</style>