<!-- filename: product-added-info.liquid -->
<section class="product-added-info">
  <div class="container">
    <div class="row">
     <div class="sixteen columns">
       <p class="insider-hook"></p>
        <p><span class="left-icons"><img src="https://cdn.shopify.com/s/files/1/1307/5383/files/120105402_1215224615526794_4613987621654237398_n_8e029497-51ec-46c2-b6a9-cda1e837c97f.svg?v=1600923150" class="added-info-logo" style="fill:#511811;position:relative;left:2px;"></span>Get this by <span class="min-date"></span> - <span class="max-date"></span> <span id="tooltip2" data-info=""><i class="fa fa-question-circle" aria-hidden="true"></i></span></p>  
       <!--<p><span class="left-icons"><img src="https://cdn.shopify.com/s/files/1/1307/5383/files/120105402_1215224615526794_4613987621654237398_n_8e029497-51ec-46c2-b6a9-cda1e837c97f.svg?v=1600923150" class="added-info-logo" style="fill:#511811;position:relative;left:2px;"></span>See our order processing schedule for the holidays. <span id="tooltip2" data-info=""><i class="fa fa-question-circle" aria-hidden="true"></i></span></p>-->
       <!-- <p><span class="left-icons"><img src="https://cdn.shopify.com/s/files/1/1307/5383/files/9b68088ff8851bc930ff1ef1fb89c41d-christmas-tree-icon-by-vexels_e277d5c3-6e07-44fb-9ecb-c85f4c9ff6fa.svg?v=1605072717" class="added-info-logo" style="fill:#511811"></span>Order now to send your gifts before Christmas! <span id="tooltip3" data-info=""><i class="fa fa-question-circle" aria-hidden="true"></i></span></p>  -->
       <!--<p><a href='https://www.ellanacosmetics.com/pages/bulk-gifting' style="color:#6b6b6b"><span class="left-icons"><img src="https://cdn.shopify.com/s/files/1/1307/5383/files/box.svg?v=1605073029" class="added-info-logo" style="fill:#511811"></span>Sending multiple gifts? We'll take care of it.  <span id="tooltip5" data-info=""><i class="fa fa-question-circle" aria-hidden="true"></i></span></a></p> -->
       	<p><span class="left-icons"><img src="https://cdn.shopify.com/s/files/1/1307/5383/files/Shop_Risk_Icon.svg?v=1601537151" class="added-info-logo"></span>Shop-Risk Free for 30 days  <span id="tooltip8" data-info=""><i class="fa fa-question-circle" aria-hidden="true"></i>
		</span>
       </p>
        <p><span class="left-icons"><img src="https://cdn.shopify.com/s/files/1/1307/5383/files/118080850_2652054748380313_3148883712005771084_n.png?v=15986133299" class="added-info-logo"></span>Pay via cash on delivery, credit/debit cards, and e-wallets</p> 
       <!-- <p><span class="left-icons"><img src="https://cdn.shopify.com/s/files/1/1307/5383/files/118267959_921590721681174_2928706951730940369_n.png?v=1598613329" class="added-info-logo"></span><strong>FREE SHIPPING when you order today</strong></p> -->
           
     </div>
    </div>
  </div>
</section>