<!-- filename: sections/foursixty.liquid -->
<h4 class="home__subtitle">Shop the look</h4>
<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-money-format="₱<%= amount %>" data-feed-id="ellanacosmetics" data-theme="sizes_v2_5" data-page-size="7"></script><style>.fs-has-links::after {  padding: 5px 7.5px; background-color: #fff; color: rgba(0,0,0,0.8); content: "SHOP IT";  }.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Times New Roman, serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(0,0,0,0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 1px }</style>

{% schema %}
{
  "name": "Instagram feed",
  
  "presets": [
    {
      "name": "Instagram foursixty",
      "category": "Social"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
