<!-- filename: sections/powr-hit-counter.liquid -->
      <div class="powr-hit-counter" id="shopify-section-hit-counter-{{ section.id }}"></div>
      {% schema %}
        {
          "name": "Hit Counter",
          "settings": [
            {
              "type": "header",
              "content": "Edit",
              "info": "Manage Plugins on [POWr.io](https://www.powr.io)"
            },
            {
              "type": "paragraph",
              "content": "Click Edit Me in Preview to Edit Hit Counter."
            },
            {
              "type": "paragraph",
              "content": "[Need Help?](https://www.powr.io/knowledge-base)"
            }
          ],
          "presets": [
            {
              "name": "Hit Counter",
              "category": "POWr Plugins"
            }
          ]
        }
      {% endschema %}
      