<a name="pagecontent" id="pagecontent"></a>

<div class="page clearfix mobile-spacer">
  <h1>
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {% section 'page-landingpage2' %}
  </div>
  
</div>
