{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<style>
  .product { width: 100%; }
  .product_gallery_nav.product_gallery_nav--bottom-thumbnails img {
    height: auto;
    width: auto;
  }
</style>

<section class="section has-padding-top">
  <div class="container">
    

    <section class="section--has-sidebar-option is-flex is-flex-wrap has-padding-top">
{% section 'product-template-mcc' %}

{% comment %}
{% section 'bundled-reco' %}
{% endcomment %}

{% section 'product-recommendations' %}


    </section>
  </div>
</section>



<script>

 
      $(".tabs li:first-of-type a").addClass("active")
      $(".tabs li:nth-of-type(2) a").removeClass("active")
      $(".tabs li:nth-of-type(3) a").removeClass("active")
      $("#tab1").show()
      $("#tab2").hide()
      $("#tab3").hide()

    </script>